<div class="gym wrapper">
  <div class="gym-header">
    <div class="secondary-title">Действуй 🔥</div>
    <div class="main-title">Рассчитай веса для жима</div>
  </div>
  <div class="gym-body">
    <div class="input-block">
      <img
        src="../../../assets/img/ic_search.svg"
        alt="search"
        class="search-icon"
      />
      <input
        type="number"
        placeholder="Введите вес (кг)"
        [formControl]="gymMaxWeight"
      />

      @if (gymMaxWeight.value) {
      <button class="clear-icon" (click)="clearInput()">
        <img src="../../../assets/img/close-rounded-gray.svg" alt="clear" />
      </button>
      }
    </div>

    <div class="sets-list">
      <div class="sets-list__header">
        <div class="sets-list__title">План тренировок</div>
        <button class="sets-list__instruction-btn">
          <img
            src="../../../assets/img/lets-icons_video-fill.svg"
            alt="lets-icons_video-fill.svg"
          />
          <span>Инструкция</span>
        </button>
      </div>
      <div class="sets-list-body">
        @if (sets() ) { @for (set of sets(); track set.name; let i = $index) {
        <app-weight-card [set]="set" [setID]="i + 1"></app-weight-card>
        } } @else {
        <span class="sets-list-body__empty-result"
          >После ввода данных здесь появится структура тренировки</span
        >
        }
      </div>
    </div>
  </div>
</div>
